@{
	Layout = null;
}

@model MVCWeb.UI.Models.VM.KategoriVM
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Duzenle</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
<div>
	@using (Html.BeginForm("Duzenle","KategoriIslem",FormMethod.Post))
	{
		@Html.AntiForgeryToken()
            @*ID basılmayacak*@
		@Html.HiddenFor(a => a.ID)

		@*@Html.LabelFor(a => a.KategoriAdi, htmlAttributes: new { @class = "col-md-2" })
		@Html.EditorFor(a => a.KategoriAdi)

		<input type="submit" name="name" value="Düzenle" />*@

		<div class="col-12 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<p class="card-description"> Kategori Güncelleme </p>
					<form class="forms-sample">
						<div class="form-group">
							<label>Kategori Adı</label>
							@Html.TextBoxFor(x => x.KategoriAdi, new {@class= "form-control"})
						</div>
						
						<button type="submit" class="btn btn-primary mr-2">Kaydet</button>
						<button class="btn btn-dark">İptal</button>
					</form>
				</div>
			</div>
		</div>
	}
</div>
</body>
</html>