@{
	Layout = null;
	//view engine  => razor 
	int a = 70;

}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
</head>
<body>
<div> 
	@a
	asşdlkasdklşakdladlalsdm
</div>
</body>
</html>